.character-container{
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    display: flex;
}
.character, .character-add-new{
    display: flex;
    flex-direction: column;
}
.character-card{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    background-color: lightblue;
    color: darkgreen;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.character-card-and-delete{
    display: inline-flex;
}
.character-delete{
    color: #ddd;
    background-color: red;
    margin: 9.5px auto;
    width: 10%;
}